<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.serviceModel>
      <services>
        <service behaviorConfiguration="Default" name="DeliveryService.DeliveryService">
          <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="DeliveryService.IDeliveryService" />
        </service>
      </services>
      <behaviors>
        <endpointBehaviors>
          <behavior name="webBehavior">
            <webHttp />
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior name="Default">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <client>
        <endpoint address="http://localhost:51403/DeliveryService.svc" behaviorConfiguration="webBehavior" binding="webHttpBinding" name="DeliveryService" contract="DeliveryExample.ServiceContracts.IDeliveryService" />           
      </client> 
    </system.serviceModel>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <!--
          Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
          Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
        -->
      <directoryBrowse enabled="false" />
   </system.webServer>

</configuration>